import {
    startGenerator,
    questionsToMake,
    transformData,
    create,
    generateFileUsing,
} from '../../core/useCase/generatorUseCase';
import { promptInputQuestion } from '../../core/service/promptQuestionsService';
import { prepareDefaultNameData } from '../../core/service/prepareDataService';
import {
    {{#filesToGenerate}}
    {{fileCamelName}}Definitions,
    {{/filesToGenerate}}
} from '../service/{{camelName}}Service';
import { createDirInRoot } from '../../core/service/fileSystemService';

export default
    startGenerator(
        questionsToMake(
            () => promptInputQuestion('baseName', 'write base_name data to use in templates :)')(),
        ),
        transformData((answers) => prepareDefaultNameData(answers)),
        create(
            (preparedData) => createDirInRoot(`generatedFiles/${preparedData.camelName}`),
            {{#filesToGenerate}}
            (preparedData) => generateFileUsing({{fileCamelName}}Definitions, preparedData, '{{filePascalName}} completed'),
            {{/filesToGenerate}}
        ),
    );
