
{{#filesToGenerate}}
const getDirectory{{filePascalName}}Definitions = ({ camelName = 'CAMEL_NAME_NOT_DEFINED' }) => {
    return {
        templateNameDir: '{{baseDirName}}/templates/{{fileCamelName}}Template.mustache',
        dirToWrite: `./generatedFiles/${camelName}{{filePascalName}}.js`,
    };
};

{{/filesToGenerate}}


export {
    {{#filesToGenerate}}
    getDirectory{{filePascalName}}Definitions, 
    {{/filesToGenerate}}
};
