
{{#filesToGenerate}}
const {{fileCamelName}}Definitions = ({ camelName = 'CAMEL_NAME_NOT_DEFINED' }) => {
    return {
        templateNameDir: '{{baseDirName}}/templates/{{camelName}}{{filePascalName}}Template.mustache',
        dirToWrite: `./generatedFiles/${camelName}/${camelName}{{filePascalName}}.js`,
    };
};

{{/filesToGenerate}}


export {
    {{#filesToGenerate}}
    {{fileCamelName}}Definitions, 
    {{/filesToGenerate}}
};
