import { createDirInRoot } from '../../core/service/fileSystemService';
import { startPromise } from '../../core/utils/utils';

const createDirectories = (preparedData) =>
    startPromise().then(() => createDirInRoot(`generatedFiles/${preparedData.camelName}`));

export { createDirectories };
