



  {{pascalName}}
  {{camelName}}
  {{titleName}}


            {{#tableColumnText}}
            template text ({{name}}
            {{/tableColumnText}}


            {{#tableData}}
            template text {{dataType}}  -  {{colName}}  -  {{isNullable}}
            {{/tableData}}
